* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*overflow-x: hidden;*/
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*Start of header*/

.header {
	background: linear-gradient(to bottom right, #FDD65B, #fbb034);
	width: 100%;
	position: fixed;
	top: 2.5rem;
	left: 2.5rem;
	width: calc(100vw - 5rem);
	border-radius: 15px;
}

.header__container {
	display: flex;
	height: 100%;
	align-items: flex-end;
	padding: 0 2rem;
}

.header__left {
	display: flex;
	flex-direction: column;
	padding: 3rem 0 10rem 0rem;
}

.logo {
	font-size: 5rem;
	color: white;
	font-style: italic;
	text-shadow: 3px 3px black;
}

.links-list {
	margin-top: 1rem;
	display: flex;
}

.links-list li {
	text-decoration: none;
	list-style: none;
}

.link {
	padding: 5px;
	margin: 0 0.4rem;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c07b24;
	color: #fdd65b;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	display: flex;
	border: 2px solid #c07b24;
	transition: 0.4s ease;
}

.link:hover {
	color: #c07b24;
	background-color: #fcc44c;
	text-decoration: none;
	border: 2px solid #c07b24;
}

.fab {
	margin: auto;
}

.links-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.resume-container {
	margin: 0 0.4rem;
}

.resume-container a button span {
	margin: 0 5px;
}

.resume-container a button {
	padding: 0.4rem;
	background: transparent;
	border: 2px solid black;
	border-radius: 1rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	transition: 0.2s ease;
}

.resume-container a button:hover {
	transform: scale(1.02);
	background: #c07b24;
	border-color: #c07b24;
	color: #fdd65b;
}

.header__left__text {
	font-size: 3rem;
}

.header__right {

}

.profile-img-container {
	display: flex;
	justify-content: center;
}

.profile-img-container img {
	max-height: 500px;
	width: auto;
}

/*end of header*/

/*start of content*/

main {
	margin-top: 500px;
}

.content-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	transform: translateY(-5rem);
	margin-bottom: -5rem;
	border-radius: 15px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.content-row {
	margin-left: 0px !important; 
	margin-right: 0px !important;
}

.content-row__spacing {
	padding-bottom: 3rem;
}

.about-me {
	background-color: #333333;
	border-top-left-radius: 15px;
	padding: 2rem 3.5rem !important;
	color: white;
}

.about-me > div > h4 {
	/*border-bottom: 2px solid white;*/
	text-shadow: 2px 2px gray;
	color: #fcc44c;
}

.contact-info p {
	margin-bottom: 0;
}

.contact-info .fas {
	margin-right: 0.5rem;
}

.my-skills {
	border-top-right-radius: 15px;
	background-color: gray;
	padding: 2rem 3.5rem !important;
	color: white;
}

.my-skills > div > h4 {
	text-shadow: 2px 2px #333333;
	color: #fcc44c;
}

.my-skills > div > div > ul {
	margin-left: 2rem;
}

.previous-works {
	display: flex;
}

.previous-works h4 {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	transform: 	translateY(-50%);
	background: linear-gradient(to bottom right, #FDD65B, #fbb034);
	margin-left: 2rem;
}

.proj-details {
	/*min-height: 300px;*/
	padding: 0px 30px !important;
}

.proj-details ul {
	display: flex;
	flex-wrap: wrap;
}

.proj-details ul li {
	list-style: none;
	margin: 0.25rem 0.25rem;
	padding: 2px 5px;
	border-radius: 5px;
	font-size: 0.8rem;
	background: linear-gradient(to bottom right, #FDD65B, #fbb034);
}

.view-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.view-buttons a {
	text-decoration: none;
	color: black;
}

.view-buttons a button {
	margin: 0 0.5rem;
	padding: 0.25rem 0.5rem;
	background: transparent;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	transition: 0.2s ease;
}

.view-buttons a button:hover{
	background: #c07b24;
	border-color: #c07b24;
	color: #fdd65b;
}


.proj-image {

}

.image-container img {
	/*width: 100%;*/
	width: 100%;
	height: auto;
}


/*end of content*/



.footer {
	/*height: 5vh;*/
	position: fixed;
	left: 50%;
	bottom: 0;
	display: flex;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.footer small {
	font-size: 0.7rem;
}

/*media queries*/

@media (max-width: 575px) {

	.about-me, .my-skills {
		padding: 1rem 2rem !important;
	}

	.content-container {
		transform: translateY(-7rem);

	}

	.previous-works h4 {
		margin-left: 0;
	}

	.view-buttons button {
		font-size: 0.8rem;
	}

	.contact-info p {
		font-size: 0.8rem;
	}
}

@media (max-width: 767px) {

	body{
		padding: 0;
	}

	main {
		margin-top: unset;
	}

	.header {
		width: 100vw;
		top: 0;
		left: 0;
		border-radius: unset;
		position: unset;
	}

	.content-container {
		width: 95%;
	}
}

@media (max-width: 991px) {

	.about-me {
		border-top-right-radius: 15px;
	}

	.my-skills {
		border-top-right-radius: 0;
	}

	.proj-image__left {
		order: 1;
	}

	.proj-details__left {
		order: 2;
	}

	.profile-img-container img {
		max-height: 350px;
		width: auto;
	}

}

@media (min-width: 768px) {

	body {
		padding: 2.5rem 2.5rem 0 2.5rem;
	}
}